.container {
  position: relative;
}
.App {
  text-align: left;
  height: 100%;

}
.Posts {
  margin: -40px 0 0;
  padding: 50px 30px;
  background-color: green;
}
#preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 768px;
  background: rgba(0, 0, 0, 0.3) url('./components/img/2.gif') 50% 50% no-repeat;
  font-size: 0;
}